body {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 56px; /* Ajusta este valor según la altura de tu menú de navegación */
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px); /* Ajusta este valor según la altura de tu menú de navegación */
  overflow: hidden;
}

.customImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  color: white;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .content {
    width: 90%;
  }
}

.color-757575ff {
  color: #757575ff;
}

.workingImageSection {
  background-color: rgba(50, 50, 50, 0.6);
  padding: 20px;
}

.transparentBackground {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* Estilos para el menú fijo */
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

/* Estilos adicionales */
.navbar {
  padding: 0;
}

.navbar-nav {
  margin: 0;
}

.nav-link {
  padding: 0.5rem 1rem;
}